<!--
  @name = Atom Component HTML
  @author = David Medel / Esther Vendrell
  @version = 0.0.1
  @description = Main user interface of the Atom component
  @date = 03-02-2020
-->

<!-- form, when submit calls the atom() method-->
<form #atomForm="ngForm" action="" (submit)="atom()">
  <div class="bg-dark">
    <div class="form-horizontal" style="padding:20px">
      <div class="col-xs-12">
        <h4 style="color:#D5D5D5; text-align:center">Atom Form</h4>
      </div>
    </div>
  </div>
  <div class="container well">
    <div class="form-group">
      <div class="row">
        <div class="col-sm-9">
          <br>
          <h5 class="col-sm-9"><b>Create New Atom</b></h5>
        </div>
      </div>
      <hr style="width:96%; margin-left:15px; margin-top:0;" />
      <br />
      <!-- Num -->
      <label class="col-sm-6">(*) Number:</label>
      <div class="col-sm-4">
        <input #atomNum="ngModel" title="atom num" [(ngModel)]="objAtom.num" name="atomNum" type="text" class="form-control" placeholder="1" pattern="^[1-9]+[0-9]*$" required />
      </div>
      <!-- Error div when error required -->
      <div class="col-sm-4" *ngIf="!atomNum.pristine && atomNum.errors && atomNum.errors.required">
          <span class="text-danger">Please, enter a number</span>
      </div>
      <!-- Error div when error pattern -->
      <div class="col-sm-4" *ngIf="atomNum.errors && atomNum.errors.pattern">
          <span class="text-danger">This field only accept positive integers!</span>
      </div>
      <br />
      <!-- Name -->
      <label class="col-sm-6">(*) Name:</label>
      <div class="col-sm-4">
          <input #atomName="ngModel" title="atom name" [(ngModel)]="objAtom.name" name="atomName" type="text" class="form-control" placeholder="Hydrogen" pattern="^[A-Z]{1}[a-z]+$" required />
      </div>
      <!-- Error div when error required -->
      <div class="col-sm-4" *ngIf="!atomName.pristine && atomName.errors && atomName.errors.required">
          <span class="text-danger">Please, enter a name</span>
      </div>
      <!-- Error div when error pattern -->
      <div class="col-sm-4" *ngIf="atomName.errors && atomName.errors.pattern">
          <span class="text-danger">The name must have the first letter in uppercase and the rest in lowercase</span>
      </div>
      <br />
      <!-- Symbol -->
      <label class="col-sm-6">(*) Symbol:</label>
      <div class="col-sm-4">
          <input #atomSymbol="ngModel" title="atom symbol" [(ngModel)]="objAtom.symbol" name="atomSymbol" type="text" class="form-control" placeholder="H" pattern="^[A-Z]{1}[a-z]{0,2}$" required />
      </div>
      <!-- Error div when error required -->
      <div class="col-sm-4" *ngIf="
      !atomSymbol.pristine && atomSymbol.errors && atomSymbol.errors.required">
          <span class="text-danger">Please, enter a symbol</span>
      </div>
      <!-- Error div when error pattern -->
      <div class="col-sm-4" *ngIf="atomSymbol.errors && atomSymbol.errors.pattern">
          <span class="text-danger">The symbol must be valid, ie(H, He...), first letter uppercase and the rest in lowercase (max 2 letters lowercase)</span>
      </div>
      <br />
      <!-- Trend -->
      <!-- fills the select with the arr_trend values, set the value objAtom.trend and 
          on ngModelChange calls the function changeSubtrend()-->
      <label class="col-sm-2">(*) Trend: </label>
      <div title="trend of atom" class="col-sm-6">
        <select class="form-control" name="trend" [(ngModel)]="objAtom.trend" (ngModelChange)="changeSubtrend()">
          <option
            *ngFor="let trend of arr_trend; let i = index"
            [ngValue]="trend"
            >{{ trend.trend }}
          </option>
        </select>
      </div>
      <br />

      <!-- SubTrend -->
      <!-- fills depending on the objAtom.trend.id fills the select with the arr_subtrend_metal values or
      the arr_subtrend_nonmetal values or don't show the select
      set the value of objAtom.subtrend to the selected, if noone is selected (case that we don't show this select)
      then we set the value to null-->
      <div *ngIf="objAtom.trend.id == 0; then metalTemplate; else elseTemplate"></div>
      <ng-template #metalTemplate>
          <label class="col-sm-2">(*) SubTrend: </label>
          <div title="subtrend of atom" class="col-sm-6">
              <select class="form-control" name="subtrend1" [(ngModel)]="objAtom.subtrend">
        <option
          *ngFor="let subtrend of arr_subtrend_metal; let i = index"
          [ngValue]="subtrend"
          >{{ subtrend.trend }}</option
        >
      </select>
          </div>
      </ng-template>
      <ng-template #elseTemplate>
          <div *ngIf="
        objAtom.trend.id == 2;
        then nonmetalTemplate;
        else othersTemplate
      "></div>
      </ng-template>
      <ng-template #nonmetalTemplate>
          <label class="col-sm-2">(*) SubTrend: </label>
          <div title="subtrend of atom" class="col-sm-6">
              <select class="form-control" name="subtrend2" [(ngModel)]="objAtom.subtrend">
        <option
          *ngFor="let subtrend of arr_subtrend_nonmetal; let i = index"
          [ngValue]="subtrend"
          >{{ subtrend.trend }}</option
        >
      </select>
          </div>
      </ng-template>
      <ng-template #othersTemplate> </ng-template>
      <br />

      <!-- State of matter -->
      <!-- fills the radio buttons with the arr_state and set the value of objAtom.state-->
      <label class="col-sm-4">(*) State of matter (at 0ºC and 1 atm): </label>
      <div title="state of matter" class="col-sm-6">
        <span *ngFor="let state of arr_state; let i = index">
          <input
            type="radio"
            [(ngModel)]="objAtom.state"
            [value]="state"
            name="state"
          />
          {{ state.state }}
          <br />
        </span>
      </div>
      <br />

      <!-- Natural occurrence of the element -->
      <!-- fills the radio buttons with the arr_occurrence and set the value of objAtom.occurrence-->
      <label class="col-sm-4">(*) Natural occurrence of the element: </label>
      <div title="natural occurrence" class="col-sm-6">
        <span *ngFor="let occurrence of arr_occurrence; let i = index">
          <input
            type="radio"
            [(ngModel)]="objAtom.occurrence"
            [value]="occurrence"
            name="occurrence"
          />
          {{ occurrence.type }}
          <br />
        </span>
      </div>
      <br />

      <!--Orbital-->
      <!-- fills the checkbox with the arr_sfdp and set the value of objAtom.orbital with the checked boxes-->
      <label class="col-sm-2">Orbital: </label>
      <div title="orbital" class="col-sm-6" #orbitalCheckBox>
        <span *ngFor="let sfdp of arr_sfdp; let i = index">
          <input type="checkbox" name="sfdp" (click)="addRemoveOrbital(sfdp)" />
          {{ sfdp.orbital }}
          <br />
        </span>
      </div>
      <br />

      <!--Melting point -->
      <label class="col-sm-2">Melting point (K): </label>
      <div class="col-sm-4">
          <input title="TChangeFase1 atom" #atomTChangeFase1="ngModel" [(ngModel)]="objAtom.tChangeFase1" name="atomTChangeFase1" pattern="^-?[0-9]*(,{1}[0-9]{1,2})?$" type="text" class="form-control" placeholder="Ex. 255 (in K)" required />
      </div>
      <!-- Error div when error required -->
      <div class="col-sm-4" *ngIf="
      !atomTChangeFase1.pristine &&
      atomTChangeFase1.errors &&
      atomTChangeFase1.errors.required
      ">
        <span class="text-danger">Please, enter a temperature</span>
      </div>
      <!-- Error div when error pattern -->
      <div class="col-sm-4" *ngIf="atomTChangeFase1.errors && atomTChangeFase1.errors.pattern">
        <span class="text-danger">This field only accept numbers with 2 decimals!</span>
      </div>
      <br />

      <!--Boiling point -->
      <label class="col-sm-2">Boiling point (K): </label>
      <div class="col-sm-4">
        <input
          title="TChangeFase2 atom"
          #atomTChangeFase2="ngModel"
          [(ngModel)]="objAtom.tChangeFase2"
          name="atomTChangeFase2"
          pattern="^-?[0-9]*(,{1}[0-9]{1,2})?$"
          type="text"
          class="form-control"
          placeholder="Ex. 255 (in K)"
          required/>
      </div>
      <!-- Error div when error required -->
      <div
        class="col-sm-4"
        *ngIf="
          !atomTChangeFase2.pristine &&
          atomTChangeFase2.errors &&
          atomTChangeFase2.errors.required">
        <span class="text-danger">Please, enter a temperature</span>
      </div>
      <!-- Error div when error pattern -->
      <div class="col-sm-4" *ngIf="atomTChangeFase2.errors && atomTChangeFase2.errors.pattern">
        <span class="text-danger">This field only accept numbers with 2 decimals!</span>
      </div>
      <br />

      <button type="submit" class="btn btn-dark" [disabled]="!atomForm.valid">
        Submit
      </button>
      <br /><br />
    </div>
  </div>
</form>