/*  @name = Navbar Component CSS
    @author = David Medel / Esther Vendrell
    @version = 0.0.1
    @description = css of the Navbar component
    @date = 03-02-2020
 */

 hr.divider { 
    margin: 0em;
    border-color: #888989;
    
} 
  
nav {
    margin: 0;
    padding-bottom: 0; 
  }