<!--
  @name = Atom Management Component HTML
  @author = David Medel / Esther Vendrell
  @version = 0.0.1
  @description = Main user interface of the Atom Management component
  @date = 03-02-2020
-->
<!-- header of atom management -->
<div class="bg-dark">
    <div class="form-horizontal" style="padding:20px">
        <div class="col-xs-12">
            <h4 style="color:#D5D5D5; text-align:center">Atom Management</h4>
        </div>
    </div>
</div>
<div class="container well">
<!-- form of filters -->
    <form #AtomManagementFilterForm="ngForm" novalidate>
        <br>
        <br>
        <div class="row">
            <div class="col-sm-9">
                <h5 class="col-sm-9"><b>Filter Atoms</b></h5>
            </div>
        </div>

        <table class="table table-striped">
            <!-- filter by name -->
            <tr>
                <td>Filter by name</td>
                <td>
                    <input type="text" [(ngModel)]="nameFilter" name="nameFilter" (ngModelChange)="filter()">
                </td>
            </tr>
            <!-- filter by symbol -->
            <tr>
                <td>Filter by symbol</td>
                <td>
                    <input type="text" [(ngModel)]="symbolFilter" name="symbolFilter" (ngModelChange)="filter()">
                </td>
            </tr>
            <!-- filter by state and temperature -->
            <tr>
                <td><b>Filter by state and temperature:</b></td>
            </tr>
            <tr>
                <td>State</td>
                <td>
                    <span *ngFor="let state of arr_state; let i = index">
                        <input
                        type="radio"
                        [(ngModel)]="auxAtom.state"
                        [value]="state"
                        name="state"
                        (ngModelChange)="filter()"
                        /> {{ state.state }}
                        <br />
                    </span>
                </td>
            </tr>
            <tr>
                <td>Temperature</td>
                <td>
                    <input [disabled]="auxAtom.state.state == 'Unknown'" type="range" min="0" max="6500" [(ngModel)]="temperature" name="temperature" (ngModelChange)="filter()">
                    <b>{{temperature}}</b>
                </td>
            </tr>
            <!-- pagination (current page) -->
            <tr>
                <td>
                    Current Page
                </td>
                <td>
                    {{currentPage}}
                </td>
            </tr>
            <!-- pagination (atoms per page) -->
            <tr>
                <td>Atoms per page</td>
                <td>
                    <input #items="ngModel" type="number" [(ngModel)]="itemsPerPage" name="itemsPerPage" inputmode="numeric" (ngModelChange)="filter()" minlength="1" pattern="^[1-9][0-9]*$" required>
                
                <!-- minlength="1" pattern="^[1-9][0-9]*$" -->
                <!-- Error div when error required -->
                <div class="col-sm-4" *ngIf="!items.pristine && items.errors && items.errors.required">
                    <span class="text-danger">Please, enter a number</span>
                </div>
                <!-- Error div when error pattern -->
                <div class="col-sm-4" *ngIf="items.errors && items.errors.pattern">
                    <span class="text-danger">This field only accept positive integers!</span>
                </div>
                </td>
            </tr>
            <!-- atoms found -->
            <tr *ngIf="!items.errors">
                <td>Atoms found</td>
                <td>{{AtomsFiltered.length}}</td>
            </tr>
        </table>
    </form>
</div>
<!-- if !errors, shows table of atoms -->
<div *ngIf="!items.errors">
    <div class="container well">
        <form #atomManagementForm="ngForm" novalidate>
            <table id="table2" class="table table-striped">
                <thead>
                    <tr>
                        <th>Atom number</th>
                        <th>Atom name</th>
                        <th>Atom symbol</th>
                        <th>Atom occurrence</th>
                        <th>Atom trend</th>
                        <th>Atom subtrend</th>

                        <th>Eliminate atom</th>
                        <th>Go to</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let atm of
                        AtomsFiltered | 
                        paginate: {
                            itemsPerPage: itemsPerPage,
                            currentPage: currentPage
                        }">
                        <td>{{atm.num}}</td>
                        <td>{{atm.name}}</td>
                        <td>{{atm.symbol}}</td>
                        <td>{{atm.occurrence.type}}</td>
                        <td>{{atm.trend.trend}}</td>
                        <td *ngIf="atm.subtrend.trend">{{atm.subtrend.trend}}</td>
                        <td *ngIf="!atm.subtrend.trend">-</td>
                        <td>
                            <button class="btn btn-danger" (click)="removeAtm(atm)">
                                X</button>
                        </td>
                        <td>
                            <button class="btn btn-primary" (click)="onClick(atm)">
                                Go to
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div *ngIf="AtomsFiltered.length == 0" style="color: #676767" align="center">
                <p>Any atom found</p>
            </div>
            <pagination-controls (pageChange)="currentPage=$event" maxSize="5" directionLinks="true" autoHide="true">
            </pagination-controls>
        </form>
    </div>
</div>
<!-- if atomSelected and no errors, shows the atomSelected -->
<app-atom *ngIf="AtomSelected && !items.errors" [auxAtom]="AtomSelected"></app-atom>