/*  @name = Aminoacid Component CSS
    @author = David Medel / Esther Vendrell
    @version = 0.0.1
    @description = css of the Aminoacid component
    @date = 03-02-2020
 */

 label {
    font-weight: bold;
}

.absolute {
    position: absolute;
    width: 40%;
    height: auto;
    top: 30%;
    left: 54%;
    z-index: 999;
    background-color: #AAAAAA;
    border: 2px solid black;
}