/*  @name = Protein Component CSS
    @author = David Medel / Esther Vendrell
    @version = 0.0.1
    @description = css of the Protein component
    @date = 03-02-2020
 */
hr.divider { 
    margin: 0em;
    border-width: 1px;
    border-color: white;
} 
  
app-navbar {
    margin: 0;
    padding: 0; 
}

label {
    font-weight: bold;
}